<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">{{travel.title}}</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-href="#!/user/{{user._id}}" class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" ng-src="{{travel.user.avatar}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{travel.user.username}}</h4>

                                <p class="list-group-item-text">@{{travel.user.telegram}}</p>
                                <p class="list-group-item-text">{{travel.user.phone}}</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </a>
                    </div>
                    <p>
                        From: <b>{{travel.from.name}}</b>
                    </p>
                    <p>
                        To: <b>{{travel.from.name}}</b>
                    </p>
                    <p ng-show="travel.package">
                        Can transport package
                    </p>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">Map</h3>
                </div>
                <div class="panel-body">
                    <leaflet width="100%" height="300px" markers="markers" center="center"
                    tiles="tiles" id="map-simple-map"></leaflet>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">{{travel.joinPetitions.length}} Pendent joins</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-repeat="user in travel.joinPetitions" ng-href="#!/user/{{user._id}}" class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" ng-src="{{user.avatar}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{user.username}}</h4>

                                <p class="list-group-item-text">{{user.description}}</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">Accepted users {{travel.joins.length}}/{{travel.seats}}</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-repeat="user in travel.joins" ng-href="#!/user/{{user._id}}" class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" ng-src="{{user.avatar}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{user.username}}</h4>

                                <p class="list-group-item-text">{{user.description}}</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="panel">
                <div class="panel-heading c_deepPurple500">
                    <h3 class="panel-title">Admin actions</h3>
                </div>
                <div class="panel-body">
                    <!--<div class="btn btn-block btn-sm c_orange300">Ban travel</div>-->
                    <div ng-click="deleteTravel()" class="btn btn-block btn-sm c_red300">Delete travel</div>
                </div>
            </div>
        </div>
    </div>
