<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div ng-include="'views/travelCardTemplate.html'"></div>
            <br>
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">Actions</h3>
                </div>
                <div class="panel-body">
                    <p class='text-right'>
                        <div ng-show="userHasJoined(travel.joinPetitions, storageuser._id)==-1">
                            <div ng-show="userHasJoined(travel.joins, storageuser._id)==-1">
                                <a ng-show="travel.type=='offering'" ng-click="joinTravel()" class="btn btn-raised c_deepPurple300">Ask to join</a>
                                <a ng-show="travel.type=='asking'" ng-click="joinTravel()" class="btn btn-raised c_deepPurple300">Offer car</a>
                                <a ng-show="travel.type=='package'" ng-click="joinTravel()" class="btn btn-raised c_deepPurple300">Offer car</a>
                            </div>
                        </div>

                        <div ng-show="userHasJoined(travel.joinPetitions, storageuser._id)>-1">
                            <a ng-show="travel.type=='offering'" ng-click="unjoinTravel()" class="btn btn-raised c_red300">Unjoin</a>
                            <a ng-show="travel.type=='asking'" ng-click="unjoinTravel()" class="btn btn-raised c_red300">Unoffer car</a>
                            <a ng-show="travel.type=='package'" ng-click="unjoinTravel()" class="btn btn-raised c_red300">Unoffer car</a>
                        </div>

                        <div ng-show="userHasJoined(travel.joins, storageuser._id)>-1">
                            You are in this travel!
                            <a ng-show="travel.type=='offering'" ng-click="leaveTravel()" class="btn btn-raised c_red300">Leave</a>
                        </div>
                    </p>
                </div>
            </div>
            <br>
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">{{travel.joinPetitions.length}} Pendent joins</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-repeat="user in travel.joinPetitions" ng-href="#!/user/{{user._id}}" class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" ng-src="{{user.avatar}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{user.username}}</h4>

                                <p class="list-group-item-text">{{user.description}}</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">Accepted users {{travel.joins.length}}/{{travel.seats}}</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-repeat="user in travel.joins" ng-href="#!/user/{{user._id}}" class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" ng-src="{{user.avatar}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{user.username}}</h4>

                                <p class="list-group-item-text">{{user.description}}</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">Map</h3>
                </div>
                <div class="panel-body">
                    <leaflet width="100%" height="500px" markers="markers" center="center" tiles="tiles" id="map-simple-map"></leaflet>
                </div>
            </div>
        </div>

    </div>
