<div ng-controller="NavbarCtrl">
    <div ng-show="storageuser" class="navbar c_deepPurpleG500to300">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="/">Common Routes</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/users">Users</a></li><!--  class="active" -->
                    <li><a href="#!/travels">Travels</a></li>
                </ul>
                <form ng-submit="search()" class="navbar-form navbar-left">
                    <div class="form-group">
                        <input ng-model="searchString" class="form-control col-md-8" placeholder="Search" type="text">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#!/notifications">
                            <i title="Post new travel" class="fa fa-bell-o fa-2x"></i>
                            <span class="badge badge-secondary">{{storageuser.notifications.length}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#!/newTravel">
                            <i title="Post new travel" class="fa fa-plus fa-2x"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i title="Post new travel" class="fa fa-cog fa-2x"></i>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">Action</a></li>
                            <li><a href="javascript:void(0)">Another action</a></li>
                            <li><a href="javascript:void(0)">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)">Separated link</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" ng-click="logout()">
                            <i title="Post new travel" class="fa fa-power-off fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--
<div ng-click="goBack()" class="btn"><span class="glyphicon glyphicon-arrow-left"></span> Back</div>
-->
</div>
