<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">User received likes ({{likes.length}})</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-repeat="user in likes" ng-href="#!/user/{{user._id}}" class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" ng-src="{{user.avatar}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{user.username}}</h4>

                                <p class="list-group-item-text">{{user.description}}</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
