<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <h1>Common Routes</h1>
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group label-floating">
                        <input ng-model="user.username" abmFormControl class="form-control" id="inputUsername" placeholder="Username" type="text">
                    </div>
                    <div class="form-group">
                        <input ng-model="user.password" abmFormControl class="form-control" id="inputPassword" placeholder="Password" type="password">
                    </div>
                    <a ng-href="#!/signup" class="btn btn-raised c_grey500">Signup</a>
                    <div ng-click="doLogin()" class="btn btn-raised c_deepPurple300 pull-right">Login</div>
                </div>
            </div>
        </div>


        <div class="col-sm-4">

        </div>
    </div>
</div>
