<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div ng-repeat="travel in travels" ng-if="$index % 3 == 0">
                <a ng-href="#!/travel/{{travel._id}}">
                    <div ng-include="'views/travelCardTemplate.html'"></div>
                </a>
                <br>
            </div>
        </div>
        <div class="col-sm-4">
            <div ng-repeat="travel in travels" ng-if="$index % 3 == 1">
                <a ng-href="#!/travel/{{travel._id}}">
                    <div ng-include="'views/travelCardTemplate.html'"></div>
                </a>
                <br>
            </div>
        </div>
        <div class="col-sm-4">
            <div ng-repeat="travel in travels" ng-if="$index % 3 == 2">
                <a ng-href="#!/travel/{{travel._id}}">
                    <div ng-include="'views/travelCardTemplate.html'"></div>
                </a>
                <br>
            </div>
        </div>

    </div>
</div>
