<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">
                        All users
                        <span class="badge badge-secondary pull-right c_deepPurpleG500to300">{{users.length}}</span>
                    </h3>
                </div>
                <div class="panel-body" style="max-height: 500px;overflow-y: scroll;">
                    <div class="list-group">
                        <a ng-repeat="user in users" ng-href="#!/user/{{user._id}}" class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" ng-src="{{user.avatar}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">
                                    {{user.username}}
                                    <span ng-show="user.validated" class="badge badge-secondary c_deepPurpleG500to300">Validated</span>
                                </h4>

                                <p class="list-group-item-text">{{user.description}}</p>
                                <p class="list-group-item-text">{{user.travels.length}} published travels</p>
                                <p class="list-group-item-text">{{user.likes.length}} likes</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="panel">
                <div class="panel-heading c_deepPurpleG500to300">
                    <h3 class="panel-title">Actions</h3>
                </div>
                <div class="panel-body">
                    <div class="btn btn-block btn-sm c_green300">Create user</div>
                    <div class="btn btn-block btn-sm c_blue300">Create travel</div>
                    <a href="#!/network" class="btn btn-block btn-sm c_deepPurpleG500to300">View network</a>
                </div>
            </div>
        </div>
    </div>
</div>
